svg[data-icon="noto:radio"] {
    font-size: 140px;
}

.mradio {
    min-width: 400px;
    font-size: 16px;
    font-weight: normal;
    /* background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.33, rgb(35, 56, 56)), color-stop(0.67, rgb(53, 80, 80))); */
    /* background-image: -moz-linear-gradient(center bottom, rgb(35, 56, 56) 33%, rgb(53, 80, 80) 67% ); */
    padding: 5px;
}

.mradio .previousWrapper {
    height: 51px;
}

.mradio .currentWrapper {
    height: 90px;
}

.mradio .nextWrapper {
    height: 51px;
}

.mradio .streamInfoWrapper {
    padding-top: 5px;
    height: 50px;
}

.mradio .controlWrapper {
    padding-top: 5px;
    width: 100%;
}

.mradio .logoWrapper {
    width: 250px;
    text-align: center;
    margin: 10px;
}

.mradio .previousWrapper .logo {
    margin-bottom: 5px;
    max-height: 35px;
    vertical-align: middle;
}

.mradio .currentWrapper .logo {
    max-height: 70px;
    vertical-align: middle;
}

.mradio .nextWrapper .logo {
    max-height: 35px;
    vertical-align: middle;
}

.mradio .titleWrapper {
    margin: 10px;
    width: 150px;
    text-align: left;
    vertical-align: middle;
}

.mradio .currentWrapper .title {
    font-size: 20px;
}

.mradio .currentWrapper .logoWrapper {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.mradio .currentWrapper.playing .logoWrapper{
    background-color:#425a85;
}

.mradio .currentWrapper.stopped .logoWrapper{
    background-color:#302f2d;
}

.mradio .currentWrapper .titleWrapper {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-weight: bold;
}

.mradio .currentWrapper.playing .titleWrapper {
    font-style: italic;
    background-color:#425a85;
}

.mradio .currentWrapper.stopped .titleWrapper {
    font-style: normal;
    background-color:#302f2d;
}

.mradio .controlInnerWrapper {
    width: 100%;
    text-align: center;
}

.mradio .controlWrapper .button {
    height: 30px;
    width: 30px;
    margin-left: 5px;
    margin-right: 5px;
}