.MMM-MplayerRadio .mradio.wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    font-size: 0px;
    line-height: 0px;
}

.MMM-MplayerRadio .mradio .stationsWrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    font-size: 0px;
    line-height: 0px;
    width: 100%;
    /* height: 240px; */
    overflow: hidden;
}

.MMM-MplayerRadio .mradio .station {
    width: 100%;
    height: 45px;
    max-height: 45px;
    margin-top: 10px;
}

.MMM-MplayerRadio .mradio .station.selected {
    height: 120px;
    max-height: 120px;
}

.MMM-MplayerRadio .mradio .station .innerWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
}

.MMM-MplayerRadio .mradio .station.selected .innerWrapper {
    border-radius: 5px;
}

.MMM-MplayerRadio .mradio .station.selected.playing .innerWrapper {
    background-color: #425a85;
    border-radius: 5px;
}

.MMM-MplayerRadio .mradio .station.selected.stopped .innerWrapper {
    background-color: #302f2d;
    border-radius: 5px;
}

.MMM-MplayerRadio .mradio .station .innerWrapper .titleWrapper{
    margin-left: 20px;
}

.MMM-MplayerRadio .mradio .station .logoWrapper {
    width: 150px;
    text-align: center;
    max-height: 45px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.MMM-MplayerRadio .mradio .station.selected .logoWrapper {
    max-height: 120px;
}

.MMM-MplayerRadio .mradio .station .logo {
    max-width: 150px;
    max-height: 35px;
    border-radius: 5px;
}

.MMM-MplayerRadio .mradio .station.selected .logo {
    max-height: 110px;
}

.MMM-MplayerRadio .mradio .station .titleWrapper {
    font-size: 26px;
}

.MMM-MplayerRadio .mradio .streamInfoWrapper {
    min-height: 40px;
    font-size: 16px;
    padding-top: 15px;
}

.MMM-MplayerRadio .mradio .controlWrapper {
    padding-top: 5px;
    width: 100%;
}

.MMM-MplayerRadio .mradio .controlWrapper .button {
    height: 30px;
    width: 30px;
    margin-left: 5px;
    margin-right: 5px;
}
