		{
			module: "MMM-MplayerRadio",
			header: "Radio",
			position: "top_center",
			config: {
				stations: [
					{
						title: "Almubarak",
						url: "https://relay.emasjidlive.uk/almubarakradio",
						logo: "https://upload.wikimedia.org/wikipedia/commons/a/ac/Antenne-bayern-logo.png",
						customCommand: "/home/pi/MagicMirror/modules/MMM-MplayerRadio/scripts/streamlinkWrapper.bash",
						customCommandArgs: ["10", "30", "###URL###"],
					},
				],
			},
		},