		{
			module: "MMM-MplayerRadio",
			header: "Radio",
			position: "top_center",
			config: {
				stations: [
					{
						title: "Almubarak",
						url: "https://relay.emasjidlive.uk/almubarakradio",
						logo: "https://almubarakradio.com/wp-content/uploads/2021/04/logorectangle-1024x326.png",
						customCommand: "/home/pi/MagicMirror/modules/MMM-MplayerRadio/scripts/streamlinkWrapper.bash",
						customCommandArgs: ["10", "30", "###URL###"],
					},
				],
			},
		},