        {
			module: "MMM-MplayerRadio",
			header: "Radio",
			position: "top_center",
			config: {
				stations: [
					{
						title: "KissFM",
						url: "https://live.kissfm.ro/kissfm.aacp",
						logo: "https://upload.wikimedia.org/wikipedia/ro/8/86/Logo_Kiss_FM.png",
						customCommand: "/home/pi/MagicMirror/modules/MMM-MplayerRadio/scripts/playRadio.bash",
						customCommandArgs: ["###URL###"],
					},
				],
			},
		},